{
	"bot1accountName": "",
	"bot1password": "",
	"bot2accountName": "",
	"bot2password": "",
	"bot3accountName": "",
	"bot3password": "",
	"bot4accountName": "",
	"bot4password": "",
	"bot5accountName": "",
	"bot5password": ""
}